<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/ditu.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="/stylesheets/tipsy.css" type="text/css" media="all"/>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">湖泊数据可视化</a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">首页</a></li>
                    <li><a href="ditu">地图</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            工具 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="xiazai">查询下载</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Geojson数据转换</a></li>
                        </ul>
                    </li>
                    <li><a href="AboutUs">关于我们</a></li>
                </ul>
                <ul class="nav navbar-nav nav-pills pull-right">
                    <% if (user) { %>
                    <li><a href="/usermessage"><%= user.name %></a></li>
                    <li><a href="/logout">退出</a></li>
                    <% } else { %>
                    <li><a href="/login">登陆</a></li>
                    <li><a href="/reg">注册</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div id="wrapper">
    <div class="graphic">
        <div class="table-responsive">
            <% if (user) { %>
            <table class="table">
                <thead>
                <tr>
                    <th>姓名：</th>
                    <th>邮箱：</th>
                    <th>身份：</th>
                </tr>
                </thead>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.tag %></td>
                </tr>
            </table>
            <% } %>
        </div>
    </div>
    <div class="not-found-text"><h1 class="not-found-text">Users Information</h1></div>
    <div class="search">
        <form name="search" target="_blank" action="http://www.baidu.com/baidu"><input class="with-tooltip"
                                                                                       title="Search!" type="submit"
                                                                                       name="submit" value=""/><input
                    type=text name=word value="Search ..."/></form>
    </div>
    <div class="dog-wrapper">
        <div class="dog"></div>
        <div class="dog-bubble"></div>
        <div class="bubble-options"><p class="dog-bubble"> Who are you?No worries, I'm an excellent guide!</p>
            <p class="dog-bubble"> Wait! Wait...<br/><img style="margin-top:8px" src="images/cookie.png" alt="cookie"/>
            </p>
            <p class="dog-bubble"><br/> Arf! Arf!</p>
            <p class="dog-bubble"><br/> Don't worry! I will show you some information!</p>
            <p class="dog-bubble"> I think I saw it!<br/><img style="margin-top:8px" src="images/cat.png" alt="cat"/>
            </p></div>
    </div>
    <div class="planet"></div>
</div>
<footer class="navbar-fixed-bottom navbar-default footer-wrapper">
    <div class="container"><p class="text-center">2016 DSLab. LZU.</p></div>
</footer>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/javascripts/custom-scripts.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipsy.js"></script>
<script type="text/javascript">    $(document).ready(function () {
        universalPreloader();
    });
    $(window).load(function () {
        universalPreloaderRemove();
        rotate();
        dogRun();
        dogTalk();
        $('.with-tooltip').tipsy({gravity: $.fn.tipsy.autoNS});
    });</script>
</body>
</html>